<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS App</title>
    <link rel="stylesheet" type="text/css" href="/app.css" >
</head>
<body>
    <div class="header">
        <div class="head-left">Node-Crud</div>
        <div class="head-right">
            <a href="/">Home</a>
            <a href="/new-post">New Post</a>
        </div>
    </div>
    <div class="container">